### DotnetCore ###
# .NET Core build folders
bin/
obj/
.vs/
# Common node modules locations
/node_modules
/wwwroot/node_modules

# Local build verification and IDE/user-specific files
.build/
*.user
*.tmp
Properties/PublishProfiles/
